---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Section under construction, but the best part will be this meme that I made for my students taking quantitative methods courses:


<img src="{{ site.baseurl }}/images/teaching_meme.png" alt="Quantitative methods teaching meme" width="400" height="320" />

<hr>



Cette section est toujours en construction, mais sa meilleure partie restera ce mème que j’ai réalisé pour mes étudiants aux cours de méthodes quantitatives.


<img src="{{ site.baseurl }}/images/teaching_meme.png" alt="Quantitative methods teaching meme" width="400" height="320" />


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
